/.idea/shelf/Changes.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Changes/shelved.patch
/.idea/workspace.xml
